<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='Threads : View all')">
    <title>Threads : View all</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <h1>Threads : View all</h1>
    <div class="container">
        <div class="pull-right">
            <a href="form.html" th:href="@{/(form)}">Create Message</a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Subject</td>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${threads.empty}">
                <td colspan="3">No threads</td>
            </tr>
            <tr th:each="thread : ${threads}">
                <td th:text="${thread.ThreadID}">1</td>
                <td th:text="${thread.Subject}">subject</td>
                <td th:text="${thread.Description}">description</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
